/* ----------------
   top banner part 
------------------- */

.top-ban-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-ban {

    display: flex;
    align-items: center;
    background-color: black;
    width: 80%;
    border-radius: 20px;
    padding-left: 3vw;



}

.top-ban-detail {

    width: 50%;
    color: whitesmoke;
}

.top-ban-img {

    width: 50%;
}

.top-ban-img img {

    margin-left: 5vw;
    margin-top: 2vw;
}