/* common style part  */

body {
    margin: 0px;
}



/* ----------------
   top banner part 
------------------- */

.top-ban-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-ban {

    display: flex;
    align-items: center;
    background-color: black;
    width: 80%;
    border-radius: 20px;
    padding-left: 3vw;



}

.top-ban-detail {

    width: 50%;
    color: whitesmoke;

}

.top-ban-detail h1 {

    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;



}

.top-ban-detail a {

    background: #DD0000;
    border-radius: 5px;
    padding: 15px 25px;
    width: 187px;
    height: 56px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    padding-bottom: 10px;


}

.icon-1 {
    margin-left: 10px;
}

.top-ban-detail p {

    margin-bottom: 30px;


}

.top-ban-img {

    width: 50%;
}

.top-ban-img img {

    margin-left: 5vw;
    margin-top: 2vw;
}

.top-ban-ball img {

    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: relative;

    animation: anima 3s ease-in-out .1s infinite alternate;
    animation-play-state: running;
}

@keyframes anima {

    0% {

        left: 0px;
        top: 0 px;
    }

    25% {

        top: 150px;
        transform: scale(.5);


    }

    50% {

        top: 0px;


    }

    75% {

        top: 150px;
        transform: scale(.5);


    }

    100% {

        left: 70px;
        top: 0px;

    }


}


/*------------ 
main part style 
------------- */

.main-nav-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */

    margin-bottom: 5vw;
    margin-top: 0px;
    padding-top: 0px;
}






.nav-blog {

    display: flex;
    margin-top: 100px;
    width: 82%;
    /* justify-content: center; */
    /* border: 5px solid green; */



}

.nav-uab-parent {

    width: 30%;
}

.nav-uab {

    display: flex;
    flex-direction: column;
    background-color: black;
    /* color: white; */
    width: 23vw;
    height: 23vw;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;

}

.nav-uab a {

    text-decoration: none;
    margin-top: 30px;
    background-color: whitesmoke;
    width: 50%;
    position: relative;
    color: black;
    text-align: center;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 5px;
}

.blogs {

    width: 70%;
    margin-left: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* border: 2px solid red; */
    gap: 10px;


}

.blog-article {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.thamlail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 2vw 0vw 2vw;

}

.thamlail img {

    width: 6vw;
    height: 6vw;

}

.thamlail span {

    font-size: 2vw;
    padding: 0 .5vw;
}



.blog-article-details {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}



.blog-article-details p:first-child {

    font-weight: 700;
    font-size: 1.5vw;
}

.blog-article-details p:last-child {

    color: #4D4D4D;
}




/*--------------
 footer paart
 --------------  */



.foot-child {

    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px;
}

.foot-child h1 {

    color: rgb(219, 218, 218);
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;

}

.hr-foot hr {



    width: 80vw;

    margin: 30px 0px;

    border: 1px solid rgba(255, 255, 255, 0.1);



}

.foot-link ul {
    display: flex;
    width: 800px;
    justify-content: space-between;

    padding: 20px 50px;
    margin-bottom: 100px;

}

.foot-link ul li {
    list-style: none;
}

.foot-link ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* social link part in footer  */
.social-link {
    display: flex;
    justify-content: center;
    padding-bottom: 3vw;
}

.social-link-child {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    background-color: rgb(221, 206, 206);
    border-radius: 1vw;
    padding: 2vw 0vw;
    font-size: 3vw;
}

/* media quiri  */

@media screen and (max-width:576px) {

    .top-ban {

        flex-direction: column;
        padding: 29px;
    }

    .top-ban-detail h1 {
        font-size: 30px;
    }

    .top-ban-img {
        width: 112%;
    }



    .main-nav-blog {
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .nav-blog {

        display: grid;
        grid-template-columns: repeat(1, fr);
        /* margin-top: 100px;
        margin-bottom: 100px; */
        width: 100%;
        /* justify-content: center; */
        gap: 350px;


    }



    .nav-uab-parent {

        margin-left: 5vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .nav-uab {

        display: flex;
        flex-direction: column;
        background-color: black;
        /* color: white; */
        width: 90vw;
        height: 79vw;

        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 10px;




    }

    .nav-uab a {

        text-decoration: none;
        margin-top: 30px;
        background-color: whitesmoke;
        width: 50%;
        position: relative;
        color: black;
        text-align: center;
        padding: 10px 50px;
        font-size: 20px;
        border-radius: 5px;
    }

    /* blog style responsive  */

    .blogs {

        width: 70%;
        margin-left: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        /* border: 2px solid red; */
        /* gap: 10px; */


    }

    .thamlail {

        padding-left: 0vw;
    }

    .blog-article img {

        width: 41vw;
        height: 31vw;
    }

    .blog-article-details p:first-child {

        font-weight: 700;
        font-size: 3.5vw;
    }

    .foot-child {

        padding: 29px 0px;
    }

    .foot-link ul {

        width: 98%;
        flex-direction: column;
    }

    .social-link-child {

        justify-content: space-evenly;
        width: 60vw;

    }

    @keyframes anima {

        0% {

            left: 0px;
            top: -130px;
        }

        25% {

            top: 10px;
            transform: scale(.5);


        }

        50% {

            top: -130px;


        }

        75% {

            top: 10px;
            transform: scale(.5);


        }


    }


}


/* reponsive for tablet  */

@media screen and (min-width:577px) and (max-width:992px) {


    .top-ban-detail h1 {
        font-size: 20px;
    }

    /* .top-ban-img {
        width: 112%;
    } */



    .main-nav-blog {
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .nav-blog {

        display: grid;
        grid-template-columns: repeat(1, fr);
        /* margin-top: 100px;
        margin-bottom: 100px; */
        width: 100%;
        /* justify-content: center; */
        gap: 180px;
        margin-top: 20px;
        margin-bottom: 100px;


    }



    .nav-uab-parent {

        margin-left: 5vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .nav-uab {

        display: flex;
        flex-direction: row;
        background-color: white;
        /* color: white; */
        width: 80vw;
        height: 20vw;
        padding: 0px;
        margin: 0px;

        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 10px;




    }




    .nav-uab a {

        text-decoration: none;
        margin-top: 30px;
        margin-right: 5px;
        background-color: whitesmoke;
        width: 140px;
        position: relative;
        color: black;
        text-align: center;
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 5px;
    }


    .blogs {

        width: 70%;
        margin-left: 43px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        /* border: 2px solid red; */
        gap: 10px;


    }

    .hiden-blog-art {

        display: none;
    }

    .blog-article img {

        width: 17vw;
        height: 15vw;
    }

    .foot-child {

        padding: 29px 0px;
    }

    .foot-link ul {

        width: 98%;
        /* flex-direction: column; */
    }


    ul.hide-in-res {
        display: none;
    }

    ul.hide-in-main {
        visibility: visible;
        position: relative;
    }




    .social-link-child {

        justify-content: space-evenly;
        width: 60vw;

    }

    @keyframes anima {

        0% {

            left: 0px;
            top: -130px;
        }

        25% {

            top: 10px;
            transform: scale(.5);


        }

        50% {

            top: -130px;


        }

        75% {

            top: 10px;
            transform: scale(.5);


        }


    }



}